header {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  h1 {
    font-family: 'poppins', sans-serif;
  }
  h2 {
    font-family: 'poppins', sans-serif;
  }
  p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
  }
}
